Your Rowley Care will be expired next month
%br
You can opt out of the next year of Rowley Care following
= link_to t('subscription_mailer.expiration_email.this_link'), main_app.rowley_care_subscription_url
