.checkout-section
  .row
    If you’d like to email us your prescription, please send it to customerservice@rowleyeyewear.com.  Please include your name and contact information so that we can match it to your order.
  .row
    If you’d like to fax us your prescription, please send it to 212.683.0437 and be sure to include your name and contact information so that we can match it to your order.
